asyncio==3.4.3
bleak==0.22.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
idna==3.10
idotmatrix==0.0.8
pillow==11.1.0
pycparser==2.22
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.3.0
